@import
	url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap")
	;

#container {
	border-bottom: 0.3px solid rgba(0, 0, 0, 0.30);
}

#container2 {
	border-bottom: 0.3px solid rgba(0, 0, 0, 0.30);
	padding: 15px;
}

/*--------------------------------*/
#logo img {
	max-width: 300px;
	height: auto;
	margin: -15px 15px 8px 20px;
}

.home-avatar {
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

/*--------------------------------*/
#menu1, #menu2, #menu3 {
	margin-left: 30px;
	margin-top: 5px;
}

#menu1, #menu2, #menu3, #login, #join, #logout {
	color: #7fdcbe;
	font-family: Noto Sans;
	font-size: 23px;
	font-weight: 400;
	text-decoration: none;
}

#login-nickname {
	color: #7fdcbe;
	font-family: Noto Sans;
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
 
}

#menu1:active, #menu1:hover, #menu2:active, #menu2:hover, #menu3:active,
	#menu3:hover {
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-weight: 700;
}

@media screen and (max-width: 920px) {
	#menu1, #menu2, #menu3, #menu4 {
		display: none;
	}
}

/*--------------------------------*/
#join, #logout {
	margin-right: 20px;
	margin-left: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

@media screen and (max-width: 660px) {
	#login, #join, #logout {
		display: none;
	}
}

/*--------------------------------*/
#ct1, #ct2, #ct3, #ct4, #join, #logout {
	font-family: "Noto Sans";
	font-size: 23px;
	font-weight: 400;
	color: #fff;
	background: #7fdcbe;
	border-radius: 100px
}

#ct1, #ct3, #ct4 {
	margin-left: 40px;
	padding-left: 40px;
	padding-right: 40px;
}

#ct2 {
	margin-left: 40px;
	padding-left: 32.5px;
	padding-right: 32.5px;
}

#ct1:active, #ct1:hover, #ct2:active, #ct2:hover, #ct3:active, #ct3:hover,
	#ct4:active, #ct4:hover, #join:active, #join:hover, #logout:active, #logout:active {
	background: #518e7b;
	color: #fff;
}

@media screen and (max-width: 1055px) {
	#ct1, #ct2, #ct3, #ct4 {
		display: none;
	}
}

input {
	border-radius: 10px;
	border: 2px solid #7fdcbe;
	background: #fff;
	box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
	width: 380px;
	height: 53px;
	top: 122px;
	left: 29px;
	border-radius: 10px;
	outline: none;
}

button {
	position: absolute;
	left: 330px;
	border: 2px;
	background-color: #fff;
	outline: none;
	margin-top: 10px;
}