<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sportylight.mapper.GatherMapper">

	<resultMap id="gatherMap" type="com.sportylight.domain.GatherVO">
		<id property="gatheringId" column="gathering_id" />
		<result property="gatheringId" column="gathering_id" />
		<result property="membersId" column="members_id" />
		<result property="title" column="gathering_title" />
		<result property="dateTime" column="gathering_datetime" />
		<result property="description" column="gathering_description" />
		<result property="headCount" column="gathering_headcount" />
		<result property="address" column="gathering_address" />
		<result property="type" column="gathering_type" />
		<result property="state" column="gathering_state"/>
	</resultMap>

	<select id="get" resultMap="gatherMap">
		select *
		from gathering
		where gathering_id = #{gatheringId}
	</select>

	<select id="getList" resultMap="gatherMap">
		select * from gathering
	</select>
	
	<select id="getMyList" resultMap="gatherMap">
		select * 
		from gathering 
		where members_id = #{membersId}
	</select>
	
	<select id="getMyState" resultMap="gatherMap">
		select gm.*, g.gathering_title, g.gathering_datetime, g.gathering_description, g.gathering_headcount, 
		g.gathering_address, g.gathering_type
		from gathering_members gm left join gathering g  
		on g.gathering_id = gm.gathering_id
		where gm.members_id = #{membersId}
		and gm.gathering_state in (-1, 0, 1)
	</select>
	
	<select id="getTypeList" resultMap="gatherMap">
		select *
		from gathering
		where gathering_type = #{type};
	</select>
	
	<insert id="insert">
		insert into gathering(gathering_title, members_id, gathering_datetime, gathering_description, gathering_headcount, gathering_address, gathering_type)
		values (#{title}, #{membersId}, #{dateTime}, #{description}, #{headCount}, #{address}, #{type})
	</insert>
	
	<select id="read" resultMap="gatherMap">
		select *
		from gathering
		where gathering_id = #{gatheringId}
	</select>
	
</mapper>