<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sportylight.mapper.GatherMapper">

	<resultMap id="gatherMap" type="com.sportylight.domain.GatherVO">
		<id property="gatheringId" column="gathering_id" />
		<result property="gatheringId" column="gatheringid" />
		<result property="membersId" column="members_id" />
		<result property="title" column="gathering_title" />
		<result property="dateTime" column="gathering_datetime" />
		<result property="description" column="gathering_description" />
		<result property="headCount" column="gathering_headcount" />
		<result property="address" column="gathering_address" />
		<result property="type" column="gathering_type" />
	</resultMap>

	<select id="get" resultMap="gatherMap">
		select *
		from gathering
		where gathering_id = #{gatheringId}
	</select>

	<select id="getList" resultMap="gatherMap">
		select * from gathering
	</select>

	<select id="getTypeList" resultMap="gatherMap">
		select *
		from gathering
		where gathering_type = #{type};
	</select>
	
</mapper>