<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sportylight.mapper.GatherMapper">

	<resultMap id="gatherMap" type="com.sportylight.domain.GatherVO">
		<id property="gatheringId" column="gathering_id" />
		<result property="gatheringId" column="gathering_id" />
		<result property="membersId" column="members_id" />
		<result property="title" column="gathering_title" />
		<result property="dateTime" column="gathering_datetime" />
		<result property="description" column="gathering_description" />
		<result property="headCount" column="gathering_headcount" />
		<result property="address" column="gathering_address" />
		<result property="type" column="gathering_type" />
		<result property="state" column="gathering_state"/>
		<result property="deleteYn" column="delete_yn"/>
		<result property="participate" column="participate"/>

	</resultMap>

	<select id="get" resultMap="gatherMap">
		select *
		from gathering
		where gathering_id = #{gatheringId}
	</select>

	<select id="getList" resultMap="gatherMap">
		select * from view_gathering
	</select>
	
	<select id="getSearch" resultMap="gatherMap">
		select * from gathering
		<where>
			<trim prefixOverrides = "OR">
				<foreach item="option" collection="optionArr">
					<trim prefix="OR">
						<choose>
		 					<when test="option == 'T'.toString()">
	 							gathering_title like CONCAT('%', #{keyword}, '%')
							</when>
	 						<when test="option == 'C'.toString()">
		 						gathering_description like CONCAT('%', #{keyword}, '%')
	 						</when>
						</choose>
					</trim>
				</foreach>
			</trim>
		</where>
		
	</select>
	
	<select id="getMyList" resultMap="gatherMap">
		select g.*
		from gathering_members gm left join gathering g on gm.gathering_id = g.gathering_id
		where gm.members_id = #{membersId} and gm.gathering_state = 2
	</select>
	
	<select id="getMyState" resultMap="gatherMap">
		select gm.*, g.gathering_title, g.gathering_datetime, g.gathering_description, g.gathering_headcount, 
		g.gathering_address, g.gathering_type
		from gathering_members gm left join gathering g  
		on g.gathering_id = gm.gathering_id
		where gm.members_id = #{membersId}
		and gm.gathering_state in (-1, 0, 1, 3)
	</select>
	
	<select id="getJoinCount" resultType="int">
		select COUNT(gathering_id) as cnt 
		from gathering_members gm
		where gathering_state in (1, 2) and gathering_id = #{gatheringId}
	</select>
	
	<select id="getTypeList" resultMap="gatherMap">
		select *
		from gathering
		where gathering_type = #{type}
	</select>
	
	<insert id="insert">
		insert into gathering(gathering_title, members_id, gathering_datetime, gathering_description, gathering_headcount, gathering_address, gathering_type)
		values (#{title}, #{membersId}, #{dateTime}, #{description}, #{headCount}, #{address}, #{type})
	</insert>
	
	<select id="read" resultMap="gatherMap">
		select *
		from view_gathering
		where gathering_id = #{gatheringId}
	</select>
  
	<update id="update">
		update gathering set
			gathering_title = #{title},
			gathering_datetime = #{dateTime},
			gathering_address = #{address},
			gathering_description = #{description},
			gathering_type = #{type},
			gathering_headcount = #{headCount},
			update_date = now()
		where gathering_id = #{gatheringId}
	</update>
	
	<update id="removeGathering">
		update gathering g 
		set
			delete_yn = true,
			update_date = now()
		where gathering_id = #{gatheringId}
	</update>
	
	<update id="removeState">
		update gathering_members gm 
		set
			gathering_state = 3
		where gathering_id = #{gatheringId}
	</update>
	
	<delete id="deleteMyState">
		delete from gathering_members
		where gathering_id = #{gatheringId}
		and members_id = #{membersId}
	</delete>

	<select id="getState" resultType="int">
		select gathering_state
		from gathering_members
		where gathering_id = #{gatheringId} and members_id = #{membersId}
	</select>
	
	<select id="getManagerList" resultMap="gatherMap">
		select *
		from view_gathering_manager
		where gathering_id = #{gatheringId}
	</select>
	
	
	
</mapper>