/* register, join css*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@900&display=swap');

.container {
	text-align: center;
}
.page2-header {
	color: #7FDCBE;
	font-family: 'Noto Sans', sans-serif;
}
/* ------------findId ------------*/
#name2 {
	background: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	border: 1px solid #7FDCBE;
	text-align: center;
	font-family: sans-serif;
	font-color: #727272;
	font-size: 20px;
	font-weight: 0;
	outline: none;
	width: 50%;
	height: 52px;
}

.form-group1 {
	width: 520px;
	padding-bottom: 10px;
	position: relative;
}

.form-group2 {
	width: 520px;
	padding: 30px 0 30px 0;
	position: relative;
}

#date2 {
	background: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	border: 1px solid #7FDCBE;
	text-align: center;
	font-family: sans-serif;
	font-color: #727272;
	font-size: 20px;
	font-weight: 0;
	outline: none;
	width: 50%;
	height: 52px;
	padding-right: 20px;
	margin: 0 46px 0 15px;
}

#id-find {
	width: 179px;
	height: 52px;
	margin: 20px;
	color: white;
	background: #7FDCBE;
	font-size: 20px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	border-radius: 10px;
	border: 0px solid #7FDCBE;
}

#id-find:hover {
	background: #518E7B;
}