@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@900&display=swap')
	;

.container {
	text-align: center;
}

/* header - jumbotron */
.jumbotron {
	background-color: white;
	padding-bottom: 10px;
}

/* header - SportyLight 큰 로고 */
.jumbotron h1 {
	margin-bottom: 20px;
	color: #5A95F5;
	font-size: 60px;
	font-family: 'Noto Sans', sans-serif;
}

/* header - SportyLight 밑 문장 */
.jumbotron p {
	color: #5A95F5;
	font-size: 20px;
}

input[type=file]::file-selector-button {
	color: #5E5D5D;
	width: 200px;
    height: 46px;
	background: #fff;
	border: 1px solid #5A95F5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	cursor: pointer;
	margin: 5px;
	text-align: left;
}

#file {
	margin: 0 0 20px 0;
    width: 332px;
}

/* join - 생년월일 */
.input-style input:not([type="radio"]):not([type="file"]):not([type="checkbox"])
	{
	font-size: 14px;
	width: 320px;
	height: 42px;
	margin: 2px;
	background: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	border: 1px #5A95F5 solid;
}

/* join - 생년월일 */
.input-style #date {
    width: 108px;
    height: 42px;
    margin: 1px 3px 0px 5px;
}

/* join - 제출버튼 */
.submitButton button {
	width: 322px;
    height: 52px;
    margin: 10px;
	color: white;
	background: #5A95F5;
	font-size: 20px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	word-wrap: break-word;
	border-radius: 10px;
	border: 0px solid #5A95F5
}

/* join - 제출버튼 하버 */
.submitButton button:hover {
	background: #788FA1;
}

/* join - 제목 */
.page-header {
	color: #5A95F5;
	font-family: 'Noto Sans', sans-serif;
}

/* join - 중복확인 위치 */
.check {
	position: relative;
}

/* join - 중복확인 버튼 */
.check-btn {
	position: absolute;
	top: 0;
	bottom: 0;
	background: #CFF8EB;
	border-radius: 10px;
	border: 1px solid #5A95F5;
}

/* join - 중복확인 버튼 하버 */
.check button:hover {
	background: #788FA1;
}



/* join - 성별 버튼 디자인 */
.select input[type=radio] {
	display: none;
}

.select input[type=radio]+label {
	display: inline-block;
	cursor: pointer;
	height: 42px;
	width: 60px;
	margin: 0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	border: 1px solid #5A95F5;
	line-height: 45px;
	text-align: center;
	font-size: 14px;
}

.select input[id=select]+label {
	margin: 0px 1px 0 0;
}

.select input[type=radio]+label {
	background-color: #fff;
	color: gray;
}

.select input[type=radio]:checked+label {

	background-color: #5A95F5;
	border: 1px solid #5A95F5;
	color: #fff;
}
.email2{
	padding: 5px 12px;
    color: #ffffff;
    font-size: 13px;
    border: 0px solid #5A95F5;
    background: #5A95F5;
    right: 49px;
    position: relative;
    border-radius: 10px;
    bottom: 1px;
}

/* join 프로필 선택 디자인 */
.file-button{
	left: 117px;
    top: 23px;
    position: relative;
	font-size: 12px;
	color: gray;
	padding: 9px 2px 1px 2px;
	cursor: pointer;
	width: 248px;
    height: 42px;
	background: #fff;
	cursor: pointer;
	margin: 7px 205px 10px 5px;
	text-align: left;
}

.email{
	position: relative;
    left: 27px;
}

/* -----에러메시지----- */
.error2 {
	color: red;
	font-size: 0.9rem;
	display: block;
	text-align: left;
	width: 520px;
	margin-top: 3px;
}

.error {
	color: red;
	font-size: 0.9rem;
	display: block;
	text-align: left;
	width: 520px;
    margin-top: 3px;
}

#error {
    width: 331px;
    height: 20px;
    background: white;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    border-radius: 10px;
    border: 1px solid white;
    font-size: 12px;
    margin: 0 0 0 71px;
}

.input-style input[class="error"]::placeholder {
	color: red; /* 플레이스홀더의 색상을 빨간색으로 설정 */
}

#error:focus {
	outline: none;
}

/* login - 자동로그인, 아이디/비밀번호 찾기 버튼 디자인 */
.autologin{
	font-size: 12px;
    color: #838383;
    margin-bottom: 10px;
}

.category10{
	font-size: 12px;
}


.container3 {
	margin: 99px 50px 0px 595px;
    width: 433px;
    border-radius: 40px;
    padding: 50px 11px 39px 11px;
    box-shadow: 0px 0px 17px 8px rgba(0, 0, 0, .075);
}

.container7 {
	margin: 0px 50px 35px 595px;
    width: 433px;
    border-radius: 40px;
    padding: 29px 11px 17px 11px;
    box-shadow: 0px 0px 17px 8px rgba(0, 0, 0, .075);
}

