@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@900&display=swap')
	;

.container {
	text-align: center;
}

/* header - jumbotron */
.jumbotron {
	background-color: white;
	padding-bottom: 10px;
}

/* header - SportyLight 큰 로고 */
.jumbotron h1 {
	margin-bottom: 20px;
	color: #7FDCBE;
	font-size: 60px;
	font-family: 'Noto Sans', sans-serif;
}

/* header - SportyLight 밑 문장 */
.jumbotron p {
	color: #7FDCBE;
	font-size: 20px;
}

input[type=file]::file-selector-button {
	color: #5E5D5D;
  width: 150px;
  height: 30px;
  background: #fff;
  border: 1px solid #7FDCBE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
  text-align: left;
}

#file {
	margin:0 235px 20px 0;
	
}

/* join - 생년월일 */
.input-style input:not([type="radio"]):not([type="file"]):not([type="checkbox"])
	{
	width: 520px;
	height: 50px;
	margin: 5px;
	background: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	border: 1px #7FDCBE solid;
	font-size: 15px;
}

/* join - 생년월일 */
.input-style #date {
	width: 260px;
	height: 50px;
	margin: 0 15px 0 5px;
}

/* join, register - 제출버튼 */
.submitButton button {
	width: 179px;
	height: 52px;
	margin: 20px;
	color: white;
	background: #7FDCBE;
	font-size: 28px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	word-wrap: break-word;
	border-radius: 10px;
	border: 0px solid #7FDCBE
}

/* join, register - 제출버튼 하버 */
.submitButton button:hover {
	background: #518E7B;
}

/* join, register - 제목 */
.page-header {
	color: #7FDCBE;
	font-family: 'Noto Sans', sans-serif;
}

/* join - 중복확인 위치 */
.check {
	position: relative;
}

/* join - 중복확인 버튼 */
.check-btn {
	position: absolute;
	top: 0;
	bottom: 0;
	background: #CFF8EB;
	border-radius: 10px;
	border: 1px solid #7FDCBE;
}

/* join - 중복확인 버튼 하버 */
.check button:hover {
	background: #7FDCBE;
}

/* register - 스포츠 버튼 */
.main-select button {
	width: 116px;
	height: 45px;
	margin: 8px;
	color: white;
	background: #7FDCBE;
	border-radius: 100px;
	border: 0px solid #7FDCBE;
	font-family: 'Noto Sans', sans-serif;
	font-size: 18px;
}

/* register - button 하버 */
.main-select button:hover {
	background: #518E7B;
	transform: translateY(-5px);
	box-shadow: 0px 15px 20px rgba(27, 39, 63, 0.4);
}

.hidden-radios {
	display: none;
	position: absolute;
	top: 100%; /* 숨겨진 버튼을 주요 버튼 아래로 배치 */
	left: 50%; /* 가운데 정렬을 위해 left 속성을 50%로 설정 */
	transform: translateX(-50%); /* left 속성의 50%만큼 왼쪽으로 이동 */
	display: none;
	justify-content: center; /* 가운데 정렬 */
	backdrop-filter: blur(5px); /* 호버 시 배경 블러 효과를 추가 */
}

.main-select button[name="sports"]:hover+.hidden-radios, .main-select button[name="sports"]:focus+.hidden-radios,
	.hidden-radios:hover {
	display: flex;
}

.hidden-radios input[type="radio"] {
	display: inline;
}

.main-select {
	position: relative;
}

.input-style #register-title {
	margin-top: 50px;
}

/* register - 모임 인원 */
.num {
	width: 74px;
	height: 50px;
	margin: 0 70px 0 5px;
	background: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	border: 1px solid #7FDCBE;
}

/* register - 모임 날짜 */
.date {
	width: 280px;
	height: 50px;
	margin-left: 5px;
	background: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	border: 1px solid #7FDCBE;
}

/* register - 주소 검색 시 카카오맵 */
.register-address {
	width: 520px;
	height: 300px;
	margin: 10px auto;
	display: none
}

/* register - 게시글 메모란 */
.register-text {
	width: 520px;
	height: 150px;
	margin-top: 10px;
	background: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	border: 1px solid #7FDCBE;
	resize: none;
}

/* join - 성별 버튼 디자인 */
.select input[type=radio] {
	display: none;
}

.select input[type=radio]+label {
	display: inline-block;
	cursor: pointer;
	height: 50px;
	width: 60px;
	margin: 0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	border: 1px solid #7FDCBE;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
}

.select input[id=select]+label {
	margin: 0 13px 0 0;
}

.select input[type=radio]+label {
	background-color: #fff;
	color: #333;
}

.select input[type=radio]:checked+label {
	background-color: #518E7B;
	border: 1px solid #518E7B;
	color: #fff;
}

/* register - (헬스, 등산, 러닝) 종목 버튼 디자인 */
.main-select input[type=radio] {
	display: none;
}

.main-select input[type=radio]+label {
	display: inline-block;
	cursor: pointer;
	height: 45px;
	width: 116px;
	margin: 8px;
	border-radius: 100px;
	border: 0px solid #7FDCBE;
	line-height: 45px;
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
	font-size: 18px;
}

.main-select input[id=select]+label {
	margin: 0 13px 0 0;
}

.main-select input[type=radio]+label {
	background-color: #7FDCBE;
	color: white;
}

.main-select input[type=radio]:checked+label {
	background-color: #518E7B;
	border: 0px solid #518E7B;
	color: white;
}

/* register - (헬스, 등산, 러닝) 종목 버튼 디자인 하버 */
.main-select input[type=radio]+label:hover {
	background: #518E7B;
	transform: translateY(-5px);
	box-shadow: 0px 15px 20px rgba(27, 39, 63, 0.4);
}

/* -----에러메시지----- */
.error2 {
	color: red;
	font-size: 0.9rem;
	display: block;
	text-align: right;
	width: 520px;
	margin-right: 300px;
	margin-top: 3px;
}

.error {
	color: red;
	font-size: 0.9rem;
	display: block;
	text-align: left;
	width: 520px;
    margin-top: 3px;
}

#error {
    width: 520px;
    height:20px;
    background: white;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    border-radius: 10px;
    border: 1px solid white; /* 테두리 색상을 흰색으로 설정 */
    font-size: 15px;
    margin: 0 0 0 300px;
}

.input-style input[class="error"]::placeholder {
	color: red; /* 플레이스홀더의 색상을 빨간색으로 설정 */
}

#error:focus {
	outline: none;
}

/* login - 자동로그인, 아이디/비밀번호 찾기 버튼 디자인 */
.cover {
	display: flex;
	justify-content: space-evenly;
	width: 970px;
}

/* ------------findId ------------*/
#name2 {
	background: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	border: 1px solid #7FDCBE;
	text-align: center;
	font-family: sans-serif;
	font-color: #727272;
	font-size: 20px;
	font-weight: 0;
	outline: none;
	width: 50%;
	height: 52px;
}

.form-group1 {
	width: 520px;
	padding-bottom: 10px;
	position: relative;
}

.form-group2 {
	width: 520px;
	padding: 30px 0 30px 0;
	position: relative;
}

#date2 {
	background: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	border: 1px solid #7FDCBE;
	text-align: center;
	font-family: sans-serif;
	font-color: #727272;
	font-size: 20px;
	font-weight: 0;
	outline: none;
	width: 50%;
	height: 52px;
	padding-right: 20px;
	margin: 0 46px 0 15px;
}

#id-find {
	width: 179px;
	height: 52px;
	margin: 20px;
	color: white;
	background: #7FDCBE;
	font-size: 20px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	border-radius: 10px;
	border: 0px solid #7FDCBE;
}

#id-find:hover {
	background: #518E7B;
}