@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@900&display=swap')
	;

@font-face {
	font-family: "San Francisco";
	font-weight: 600;
	src:
		url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

.container {
	text-align: center;
}

/* header - jumbotron */
.jumbotron {
	background-color: white;
	padding-bottom: 10px;
}

/* header - SportyLight 큰 로고 */
.jumbotron h1 {
	margin-bottom: 20px;
	color: #5A95F5;
	font-size: 50px;
	font-family: 'Noto Sans', sans-serif;
}

/* header - SportyLight 밑 문장 */
.jumbotron p {
	color: #5A95F5;
	font-size: 15px;
}

.jumbotron {
	padding-top: 20px;
	margin-bottom: 15px;
}

/* 전체 틀 */
#container1 {
	margin: 79px 0 0 0;
}

.sample2 blockquote {
	border-radius: 10px;
	padding: 20px;
	height: 564px;
	box-shadow: 0px 0px 17px 8px rgba(0, 0, 0, .075);
}

sample2 blockquote:before {
	position: absolute;
	left: 5%;
	top: -24px;
	color: #808080;
	box-sizing: border-box;
	line-height: 1;
	padding-top: 12px;
	text-align: left;
	font-size: 40px;
}

#container2 {
	height: 200px;
	padding: 0 10px 0 10px;
}

.sample1 blockquote {
	position: relative;
	background: #fff;
	border-radius: 10px;
	padding: 20px;
	height: 564px;
	box-shadow: 0px 0px 17px 8px rgba(0, 0, 0, .075);
}

.sample1 blockquote:before {
	position: absolute;
	left: 5%;
	top: -24px;
	color: #808080;
	box-sizing: border-box;
	line-height: 1;
	padding-top: 12px;
	text-align: left;
	font-size: 40px;
}

#container3 {
	border-radius: 30px;
	height: 677px;
}

.sample blockquote {
	position: relative;
	background: #fff;
	border-radius: 10px;
	padding: 20px;
	height: 674px;
	box-shadow: 0px 0px 17px 8px rgba(0, 0, 0, .075);
}

.sample blockquote:before {
	position: absolute;
	left: 5%;
	top: -24px;
	color: #808080;
	box-sizing: border-box;
	line-height: 1;
	padding-top: 12px;
	text-align: left;
	font-size: 40px;
}

.sample blockquote p {
	color: #808080;
	margin: 0 34px;
	border-bottom: 2px solid #7FB3FA;
}

.sample blockquote cite {
	display: block;
	padding-top: 10px;
	color: #808080;
	font-style: normal;
}

#container4 {
	text-align:center;
}

#container5 {
	margin: 79px 0 0 0;
}

#firstimg, #fiveimg {
	padding: 30px 0 30px 0;
	width: 140px;
	height: 550px;
	filter: blur(5px);
}

#secondimg, #fourimg {
	padding: 30px 0 30px 0;
	width: 350px;
	height: 550px;
	filter: blur(5px);
}

#row1 {
	display: flex;
	flex-wrap: wrap;
}
/* 프로필 사진 */
#profile-image {
	padding: 5px;
	position: relative;
	margin-bottom: 7px;
	top: -10px;
	left: 77px;
	width: 88px;
	height: 88px;
	border-radius: 50%;
	border: 2px solid #bbbbbb;
}

/* Gathering */
h1 {
	margin-top: 10px;
}

/* 제목 */
.title {
	margin: 0;
	padding: 0px 0 15px 0px;
	font-family: "San Francisco";
	font-size: 20px;
	text-align: center;
}

/* 장소  */
.place0 {
	width: 230px;
	padding: 8px 10px;
	margin-bottom: 4px;
	font-size: 13.5px;
	font-family: "San Francisco";
	/*  border-bottom: 2px solid #5A95F5; */
	text-align: left;
}
/*  인원  */
.gathermember0 {
	width: 230px;
	margin-top: 5px;
	margin-bottom: 4px;
	padding: 8px 10px;
	font-size: 13.5px;
	/* border-bottom: 2px solid #5A95F5; */
	font-family: "San Francisco";
	text-align: left;
}
/* 날짜 */
.meetingtime0 {
	width: 230px;
	margin-bottom: 4px;
	padding: 8px 10px;
	font-size: 13.5px;
	font-family: "San Francisco";
	/* border-bottom: 2px solid #5A95F5; */
	text-align: left
}
/* 내용 */
.description0 {
	white-space: pre;
	font-family: "San Francisco";
	font-size: 12px;
	border-radius: 15px;
	position: relative;
	border: 2px solid #bbbbbb;
	bottom: 15px;
	height: 190px;
	width: 490px;
	text-align: left;
}

.scrollbar {
	overflow-y: scroll;
	overflow-x: hidden;
	position: relative;
	height: 159px;
	left: 28px;
	top: -22px;
	width: 419px;
}

/* 스크롤바의 폭 너비 */
.scrollbar
:
:-webkit-scrollbar {
	width: 10px;
}

.scrollbar
:
:-webkit-scrollbar-thumb {
	background: #ffffff00; /* 스크롤바 색상 */
	border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.scrollbar
:
:-webkit-scrollbar-track {
	background: #ffffff00; /*스크롤바 뒷 배경 색상*/
}

.testbox { /* background: #eafff8; */
	width: 400px;
	border-radius: 30px;
	margin-bottom: 17px;
}

.btn0 {
	width: 133px;
	height: 40px;
	margin: 21px 15px 0px 15px;
	color: white;
	background: #5A95F5;
	font-size: 20px;
	font-family: 'San Francisco', sans-serif;
	font-weight: 600;
	border-radius: 10px;
	border: 0px solid #5A95F5;
}

.btn0
:hover, .btn0, :active, button
:focus {
	box-shadow: 0px 0px 0px 0px #bdbdbd;
	color: white;
	outline: none;
}

#hiddenButtons {
    margin: 0;
    padding: 0;
    list-style: none;
}

#hiddenButtons button {
    margin: 10px 0;
}

@media screen and (min-width: 1800px) {
	.container1 {
		display: none;
	}
}

h1 {
	margin-top: 10px;
}

/* 제목 */
.title {
	margin: 0;
	padding: 0px 0 15px 0px;
	font-family: "San Francisco";
	font-size: 20px;
	text-align: center;
}

/* 장소  */
.place {
	width: 230px;
	padding: 8px 10px;
	margin-bottom: 8px;
	font-size: 13.5px;
	font-family: "San Francisco";
	border-bottom: 2px solid #5A95F5;
	text-align: left;
}
/*  인원  */
.gathermember {
	width: 146px;
	margin-top: 22px;
	margin-bottom: 20px;
	padding: 8px 10px;
	font-size: 13.5px;
	border-bottom: 2px solid #5A95F5;
	font-family: "San Francisco";
	text-align: left;
}
/* 날짜 */
.meetingtime {
	width: 230px;
	margin-bottom: 20px;
	padding: 8px 10px;
	font-size: 13.5px;
	font-family: "San Francisco";
	border-bottom: 2px solid #5A95F5;
	text-align: left;
}
/* 내용 */
.description {
	white-space: pre;
	font-family: "San Francisco";
	font-size: 12px;
	border-radius: 15px;
	position: relative;
	border: 2px solid #5A95F5;
	bottom: 15px;
	height: 190px;
	width: 490px;
	text-align: left;
}

.scrollbar {
	overflow-y: scroll;
	overflow-x: hidden;
	position: relative;
	height: 159px;
	left: 28px;
	top: -22px;
	width: 419px;
}

/* 스크롤바의 폭 너비 */
.scrollbar::-webkit-scrollbar {
	width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
	background: #ffffff00; /* 스크롤바 색상 */
	border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.scrollbar::-webkit-scrollbar-track {
	background: #ffffff00; /*스크롤바 뒷 배경 색상*/
}

.testbox {
	/* background: #eafff8; */
	width: 400px;
	border-radius: 30px;
	margin-bottom: 17px;
}

.btn {
	width: 133px;
	height: 40px;
	margin: 14px 15px 0px 15px;
	color: white;
	background: #5A95F5;
	font-size: 20px;
	font-family: 'San Francisco', sans-serif;
	font-weight: 600;
	border-radius: 10px;
	border: 0px solid #5A95F5;
	box-shadow: 0px 5px 0px 0px #bdbdbd;
}

.btn:hover, .btm:active, button:focus {
	box-shadow: 0px 0px 0px 0px #bdbdbd;
	color: white;
	outline: none;
	margin-top: 0px;
	margin-bottom: -30px;
}

@media screen and (min-width: 1800px) {
	.container1 {
		display: none;
	}
}
