@import
	url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap")
	;



.container13 {
	margin-top: 50px;
	width: 1250px;
	background: #e7f4ff;
	border-radius: 25px 25px 0 0;
	height: 880px;
	width: 1396px;
}


.home-avatar {
	width: 25px;
	height: 25px;
	border-radius: 50%;
}

/* 상단 아이콘 */
.fa-circle-xmark{
	border-radius: 50%;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
	color: #fe6262;
	font-size: 25px;
	margin-right: 5px;
}
.fa-circle-minus{
	border-radius: 50%;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
	color: #f3c53b;
	font-size: 25px;
	margin-right: 5px;
}
.fa-circle-plus{
	border-radius: 50%;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
	color: #2ad97f;
	font-size: 25px
	;margin-right: 17px;
}
.fa-chevron-left,.fa-chevron-right{
	color: #a6a6a6;
	bottom: 3px;
    position: relative;
    font-size: 18px;
    background: white;
    border-radius: 5px;
    padding: 4px 9px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.fa-bars{
	margin-left:5px;
	color: #8dace2;
	font-size: 26px;
}
.fa-shield-halved{
	color: #a6a6a6;
	margin: 0 5px 0 116px;
}
.url{
	color: #5d5c5c;
	background: #ffffff;
	padding: 5px 241px;
	border-radius: 6px;
	margin-right: 150px;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
}
.fa-lock{
	color: #c2c2c2;
	font-size: 13px;
	margin-right: 5px;
}
/*--------------------------------*/
#login-nickname, #logout {
	color: #5A95F5;
	font-size: 12px;
	text-decoration: none;
	margin-right: 15px;
}

#logout {
	padding: 3px 6px;
	color: #fff;
	background-color: #5A95F5;
	border-radius: 30px;
}

}
@media screen and (max-width: 660px) {
	#login, #join, #logout {
		text-decoration: none;
	}
}

	
	
/* 천체 틀 */
.container11-fluid {
	width: 1149px;
	background: #7FB3FA;
    box-shadow: 0px 5px 17px 8px rgba(0, 0, 0, .075);
    text-align: center;
    border: 2px solid #dddddd;
    border-radius: 30px;
    width: 1000px;
    margin-top: 35px;
    color: gray;
    margin-bottom: 65px;
}

.manage-list {
	box-shadow: 0px 0px 17px 8px rgba(0, 0, 0, .075);
	background: white;
	border-radius: 15px;
	margin: 50px 30px 45px 45px;
}

.non-apply {
	background: white;
    box-shadow: 0px 0px 17px 8px rgba(0, 0, 0, .075);
	border-radius: 8px;
	height: 250px;
}

.apply {
	background: white;
    box-shadow: 0px 0px 17px 8px rgba(0, 0, 0, .075);
	border-radius: 8px;
	margin: 44px 0 0;
    height: 250px;
}

/* 모임 목록 */
.list {
	border-bottom: 2px solid #dddddd;
	padding: 10px;
}

#profile1-image {
	position: relative;
	width: 69px;
	border-radius: 50px;
	top: 27px;
	left: 20px;
	height: 69px;
}

.manage-category {
	font-size: 11px;
}

.gather-list {
	padding:0;
	background: white;
    border: 0px;
    font-size: 13px;
    color: #393939;
}

.meetingdate {
	font-size: 12px;
}

.count {
	font-size: 12px;
}

#set3 {
	height: 125px;
	border-bottom: 2px solid #dddddd;
}

#detail {
	text-align: left;
	padding: 11px 0 0 47px;
}

/* 스크롤바 */
.scroll3-container {
	overflow-y: auto;
	overflow-x: hidden;
	height: 498px;
}

.scroll3-container::-webkit-scrollbar {
	display: none;
}

/* 회원 목록 */
.list2 {
	border-bottom: 2px solid #dddddd;
	padding: 10px;
}

table {
	width: 100%;
}
tr{
	border-bottom: 1px solid #dddddd;
	height: 51px;
}
th{
	border-right: 1px solid #dddddd;
	
}

/* 스크롤바 */
.scroll4-container {
	overflow-y: auto;
	overflow-x: hidden;
	height: 200px;
}

.scroll4-container::-webkit-scrollbar {
	display: none;
}

/* 승인 목록 */

.list3{
	padding: 10px;
	border-bottom: 2px solid #dddddd;
}

#submit {
    background: white;
    border: 3px solid #dddddd;
    border-radius: 23px;
    width: 72px;
    position: relative;
}

#submit:hover {
	background: #dddddd;
	color: white;
	
}

.scroll5-container {
	overflow-y: auto;
	overflow-x: hidden;
	height: 200px;
}

.scroll5-container::-webkit-scrollbar {
	display: none;
}

/* 체크박스 */

/* 첫 번째 체크박스 스타일 */
#check_btn1 {
    box-sizing: border-box;
    padding: 0;
    display: none;
}

#check_btn1 + label {
    cursor: pointer;
}

#check_btn1 + label > span {
    vertical-align: middle;
    padding-left: 5px;
}

#check_btn1 + label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 2px solid #5A95F5;
    border-radius: 4px;
    vertical-align: middle;
}

#check_btn1:checked + label:before {
    content: "✓";
    display: inline-block;
    width: 17px;
    height: 17px;
    line-height: 13px;
    text-align: center;
    color: white;
    background-color: #5A95F5;
    border-color: #5A95F5;
}

/* 두 번째 체크박스 스타일 */
#check_btn2 {
    box-sizing: border-box;
    padding: 0;
    display: none;
}

#check_btn2 + label {
    cursor: pointer;
}

#check_btn2 + label > span {
    vertical-align: middle;
    padding-left: 5px;
}

#check_btn2 + label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 2px solid #5A95F5;
    border-radius: 4px;
    vertical-align: middle;
}

#check_btn2:checked + label:before {
    content: "✓";
    display: inline-block;
    width: 17px;
    height: 17px;
    line-height: 13px;
    text-align: center;
    color: white;
    background-color: #5A95F5;
    border-color: #5A95F5;
}